<nb-card
  [style.height]="'3000px'"
  accent="danger"
  size="tiny"
  [nbSpinner]="chartData.barCharData == null"
  nbSpinnerStatus="danger"
  nbSpinnerSize="large"
  nbSpinnerMessage="Wating for Data. Hang tight!"
>
  <div>
    <canvas [style.margin]="'40px'" id="Revenue"> </canvas>
    <canvas [style.margin]="'40px'" id="Loss"> </canvas>
    <canvas [style.margin]="'40px'" id="TotalApptNum"> </canvas>
    <canvas [style.margin]="'40px'" id="NumOfTurnAway"> </canvas>
    <canvas [style.margin]="'40px'" id="FinalMetrics"> </canvas>
  </div>
</nb-card>
