{
    "semi": false,
    "overrides": [
        {
            "files": [
                "*.html, *.ts"
            ],
            "options": {
                "tabWidth": 4,
                "printWidth": 70
            }
        }
    ]
}